<header>
  <h1 class="mat-h1">Real Time Instantly Ask</h1>
  <h2>Let's have a chat!</h2>

  <div class="start">
    <button mat-raised-button [color]="'white'" (click)="openLoginDialog()">Login</button>
  </div>
</header>
